# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenvs
.venv/
venv/

# OS / Editor
.DS_Store
.idea/
.vscode/

# Logs / temp
*.log
*.tmp

# Build / dist
dist/
build/
